.center-input {
    text-align: center;
    padding: 150px 0;
}

.center-input h1 {
    font-weight: 100;
}

.sign-in {
    width: 300px;
    margin: auto;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #BD85FF;
    border: 5px solid silver;
}

.sign-in input {
    width: 80%;
    margin: 10px 0;
    padding: 6px 0;
    box-sizing: border-box;
}

.sign-in label {
    float: left;
    margin: 0 30px;
    color: white;
}

.sign-in button {
    width: 50px;
    padding: 6px 0;
    color: white;
    background-color: silver;
}