html, body {
    height: 100%;
}

body {
    margin: 0;
    background-image: url("background/geeks.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: silver;
}

*:focus {outline: none;}

.centered {
    text-align: center;
    padding: 150px 0;
}

.centered h1 {
    font-weight: 100;
    color: white;
}

.sign-in {
    width: 300px;
    margin: auto;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #BD85FF;
    border: 1px solid white;
}

.sign-in input {
    width: 80%;
    margin: 10px 0;
    padding: 6px 0;
    box-sizing: border-box;
}

.sign-in label {
    float: left;
    margin: 0 30px;
    color: white;
}

.sign-in button {
    width: 50px;
    padding: 6px 0;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}

.sign-in button:hover {
    background-color: lightcoral;
}

.table-actions table {
    margin: auto;
    background-color: lightseagreen;
}

.table-actions table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    text-align: center;
    padding: 5px;
    color: white;
}

form {
    margin: auto;
}

.table-actions button {
    background-color: white;
}

.table-actions input {
    width: 100%;
}

.horizontal-menu, .vertical-menu {
    list-style: none;
    background-color: grey;
    margin: 0;
    padding: 0;
    font-size: 0;
    overflow: hidden;
}

.horizontal-menu {
    margin: 7px 7px 0 7px;
    border: 1px solid white;
}

.vertical-menu {
    width: 100px;
    height: auto;
    margin: 0 10px 0 7px;
    float: left;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

.vertical-menu li {
    float: left;
    width: inherit;
}

.horizontal-menu button, .vertical-menu button {
    display: block;
    color: white;
    background-color: grey;
    border: 0;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}

.horizontal-menu button:hover, .vertical-menu button:hover {
    background-color: orange;
}

.vertical-menu form {
    width: inherit;
}

.vertical-menu button {
    border-bottom: 1px solid white;
    width: inherit;
}

.horizontal-menu button {
    float: right;
    border-left: 1px solid white;
}

.inner-content {
    margin-right: 7px;
    float: right;
    width: calc(100% - 150px);
    color: white;
}

.inner-content h1 {
    text-align: center;
}

.inner-content #current-user {
    text-align: right;
}

.page-wrapper {
    display: table;
    height: 100%;
    width: 100%;
}

.menu-and-content-wrapper {
    display: table-row;
    height: 100%;
}

.footer {
    margin: 7px;
    background-color: grey;
    color: white;
    border: 1px solid white;
    text-align: center;
}

.form-area {
    float: left;
    text-align: center;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    background-color: lightseagreen;
    position: relative;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
}

.form-area-field {
    clear: both;
    text-align: right;
    line-height: 20px;
    margin-bottom: 5px;
}

.checkbox-field {
    text-align: left;
}

.form-area-field label {
    float: left;
    padding-right: 10px;
}

.table-actions button, .form-area button {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}

.table-actions button:hover, .form-area button:hover {
    background-color: lightsteelblue;
}

.menu-dish {
    display: block;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: lightseagreen;
    width: 80%;
    margin: auto auto 10px;
}

.menu-dish img {
    display: block;
    max-width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.menu-dish .menu-dish-description {
    display: block;
    hyphens: auto;
}

.menu-dish form {
    text-align: center;
}
